<!doctype html>
<html lang="en"  xmlns:th="http;//www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is home page </title>
	<link rel="stylesheet"  th:href="@{/css/style.css}" />
</head>
<body>
	<h2> home page</h2>
	<section>
	
	<h3 class="text-center mt-5">
This Smart App you can easily store your favourite contacts</p></h3><br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	
	
	
	<p class="center text-center"> All Rights Reserved@Shailendra  </p> 
	
	</section>
	
	
</body>
</html>